CalabashMedia.EmiEurope.MvcApplication/Service References/VacancyServiceReference/CalabashMedia.EmiEurope.Domain.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalabashMedia.EmiEurope.Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalabashMedia.EmiEurope.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVacancy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vacancy" nillable="true" type="tns:Vacancy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacancy" nillable="true" type="tns:ArrayOfVacancy" />
  <xs:complexType name="Vacancy">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentType" nillable="true" type="tns:EmploymentType" />
      <xs:element minOccurs="0" name="EmploymentTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="tns:Region" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="tns:State" />
      <xs:element minOccurs="0" name="StateId" type="xs:int" />
      <xs:element minOccurs="0" name="VacancyDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyId" type="xs:int" />
      <xs:element minOccurs="0" name="VacancyTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vacancy" nillable="true" type="tns:Vacancy" />
  <xs:complexType name="EmploymentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentType" nillable="true" type="tns:EmploymentType" />
  <xs:complexType name="Region">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>